<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
			<title>Epic Item Inventory</title>
	</head>

	<body>
		<h1>Your account</h1>

		<table>
			<tr>
			<th style="text-align:left">Username: <td>{{user.username}}
		</table>

		<form action='logout/' method="POST">
			{% csrf_token %}
			<input type="submit" value="Logout"/>
		</form>
		
		<h2>Your characters</h2>
			<ul>
				{% for character in characters %}
				<li>{{character}}</li>
				{% endfor %}
			</ul>

	</body>
</html>
