<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
			<title>Epic Item Inventory</title>
	</head>

	<body>
		<h1>Your account</h1>

		<table>
			<tr>
			<th style="text-align:left">Username: <td>{{user.username}}
		</table>

		<form action='logout/' method="POST">
			{% csrf_token %}
			<input type="submit" value="Logout"/>
		</form>
		
		<h2>Your characters</h2>
		
		<h3>Create new character</h3>
		<form method="GET" action="/create_character/">

			<label for="name">Name:</label><br>
			<input type="text" name="name"/><br>
			<label for="level">Level:</label><br>
			<input type="number" name="level"/><br><br>
			<input type="submit" name="Create!"/>
		</form>
		
		<br>

			<ul>
				{% for character in characters %}
				<li><a href='/characters/{{character.id}}'>{{character|safe}}</a></li>
				{% endfor %}
			</ul>

		<h3>Latest item</h3>
			<table>
				<tr>
					<th style="text-align:left">Name: <td>{{latest_item}}
				<tr>
					<th style="text-align:left">Armor level: <td>{{latest_item.armor_level}}</td>
			</table>
					
			<a href='/items/'>Check all items or add a new one</a>

	</body>
</html>
