<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style>
			table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				width: 50%;
			}
			
			td, th {
				border: 1px solid #dddddd;
				text-align: left;
				padding: 8px;
			}
			
			tr:nth-child(even) {
				background-color: #dddddd;
			}
			</style>
			<title>Epic Item Inventory</title>
	</head>

	<body>
		<a href='/'>Back to front page</a>
		
		<h1>All items in Inventory</h1>
	
		<h3>Add new item to Inventory</h3>
			<form method="GET" action="/add_item/">

				<label for="name">Item name:</label><br>
				<input type="text" name="name"/><br>
				<label for="armor_level">Armor level:</label><br>
				<input type="number" name="armor_level"/><br><br>
				<input type="submit" name="Add!"/>
			</form>
			
			<br>

			<table>
				<tr>
					<th style="text-align: left;">Name</th>
					<th>Armor level</th>
				</tr>
				{% for item in items %}
				<tr>
					<td>{{item.name|safe}}</td>
					<td>{{item.armor_level|safe}}</td>
				</tr>
				{% endfor %}
			</table>

	</body>
</html>
